/* RESET */
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

* {
    font-family: "Dosis", sans-serif;
}
/* GRID LAYOUT */
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 2fr 0.2fr;
    grid-template-areas:
    "header header header"
    "main   main   main"
    "footer footer footer"
    ;
}

body {
    background-image: url(../assets/fondo.png);
}

header {
    grid-area: header;
    background-color: #c1ddf3;
    display: flex;
    flex-wrap: wrap;
}
header img {
    height: 200px;
    width: auto;
    border-radius: 100px;
}
main {
    grid-area: main;
}
.cont-menu {
    display: flex;
   /* justify-content: flex-end;*/
}
.lista-menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    text-decoration: none;
}

nav ul {
    list-style-type: none;
}

nav img{
    width: 30px;
    height: 30px;
}

h2 {
    font-weight: bold;
    font-style: oblique;
    margin: 10px;
    text-align: center;
}
h3 {
    margin: 10px;
    text-align: center;
}
.colecciones {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.coleccion-card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px;

}

.descuento10 h3 {
    background-color: rgb(157, 235, 163);
}

.descuento20 h3 {
    background-color: rgb(109, 214, 118);
}

.form-login {
    height: 400px;
    background-image: url(../assets/account.jpg);
}
.form-register {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.coleccion-card {
    height: 550px;    
}

.coleccion-card img {
    height: 90%;
    border-radius: 30px;
}

.foot img {
    height: 30px;
    width: 30px;
}

.articulo-carrito {
    width: 200px;
}

.articulo-carrito img {
    width: 100%;
    border-radius: 30px;
}

.total-compra {
    font-size: 1.5em;
    font-weight: 600;
}
footer {
    grid-area: footer;
}
.foot {
    display: flex;
    flex-direction: column;
}
.redes {
    display: flex;
    justify-content: space-evenly
}
.redes img:hover {
    height: 40px;
    width: 40px; 
}

.foot p {
    background-color: rgba(85, 82, 82, 0.568);
    color: white;
    text-align: center;
}