// HEADER
/* #### HEADER #### */
header {
    grid-area: header;
    display: flex;
    flex-wrap: wrap;
    background-color: $bg-color-header;
}

.logo-celestina {
    @include medidas(auto,150px);
    border-radius: 80px;
}

.logos-menu {
    @include medidas(30px, auto);    
}

.rotate-center-logo {
    -webkit-animation: rotate-center 0.6s ease-in-out both;
            animation: rotate-center 0.6s ease-in-out both;
}

.logos-menu:hover {
	-webkit-animation: jello-vertical 0.9s both;
	        animation: jello-vertical 0.9s both;
}


h1 {
    display: inline-block;
    margin: 0px 10px
}