.grid-container {
    @include margenes-l-r(50px,50px); 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 2fr 0.3fr;
    grid-template-areas:
    "header header header"
    "main   main   main"
    "footer footer footer"
    ;
}