/* ### Media queries #### */

@media (max-width: 768px) {
    .grid-container {
        margin-left: 0px;
        margin-right: 0px;
    }
}

@media (max-width: 480px) {
    .grid-container {
        margin-left: 0px;
        margin-right: 0px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.2fr 3fr .1fr;
        grid-template-areas:
        "header header"
        "main   main"        
        "footer footer"
        ;
    }
    h1 {
         display: block;
    }
    
    .logo-celestina {
        height: 100px;
        width: auto;
        border-radius: 100px;        
    }
}