/// VARS
@import './config/vars';

/* ### Reset #### */
@import './config/reset';

// Layout - Estructuras de HTML
/* GRID LAYOUT */
.grid-container {
    margin-right: 50px;
    margin-left: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 2fr 0.3fr;
    grid-template-areas:
    "header header header"
    "main   main   main"
    "footer footer footer"
    ;
}

/* BODY */
body {
    background-image: $bg-image-body;
}

// Header
@import './cabeza';

// Main
@import './principal';

// Footer
@import './pie';

// Media queries
@import './mq';